<h1>Edit your profile.</h1>
<form method="POST" class="form">
    <label for="first">Your name:</label>
    <input
        class="first-name"
        type="text"
        name="first"
        value="{{data.first}}"
        autocomplete="off"
    />
    <label for="last">Your Surname:</label>
    <input type="text" name="last" value="{{data.last}}" autocomplete="off" />
    <input
        type="email"
        name="email"
        value="{{data.email}}"
        autocomplete="off"
    />
    <label for="password">Password:</label>
    <input
        type="password"
        name="password"
        placeholder="******"
        autocomplete="off"
    />
    <label for="age">Age:</label>
    <input
        class="age"
        type="number"
        name="age"
        value="{{data.age}}"
        autocomplete="off"
    />
    <label for="urlpage">Webpage or Social Media:</label>
    <input
        type="urlpage"
        name="urlpage"
        value="{{data.url}}"
        autocomplete="off"
    />
    <label for="city">City:</label>
    <input type="text" name="city" value="{{data.city}}" autocomplete="off" />
    <button type="submit">EDIT</button>
</form>